@import '../../../../styles/all.variables.scss';

:host {
  .input-container {
    display: flex;
    margin-top: 5px;
  
    input {
      width: 100%;
      padding: 7px 12px;
      box-sizing: border-box;
      outline: none;
      border: 0;
      background-color: rgba($white, 0.5);
      color: $white;
      transition: 0.25s;
    }

    ::placeholder {
      color: rgba($white, 0.4);
    }

    .error{
      background-color: rgba($font-color-error, 0.3) !important;
    }

    app-button {
      transition: 0.25s;
    }
  }

  .error-message {
    color: $font-color-error;
    font-size: 14px;
    transition: 0.25s;
  }
}