@import '../../../../styles/all.variables.scss';

:host {
  .input-container {
    display: flex;

    &.error {
      border: 1px solid $font-color-error;
    }
  
    input {
      width: 100%;
      padding: 7px 12px;
      box-sizing: border-box;
      outline: none;
      border: 0;
      background-color: rgba($white, 0.5);
      color: $white;
    }
  }

  .error {
    margin-top: 5px;
    color: $font-color-error;
    font-size: 14px;
  }
}