@import '../../../../styles/all.variables.scss';

:host {
  margin-top: 10px;

  .name-container{
    display: flex;
    align-items: center;
    transition: 0.25s;

    &:hover {
        cursor: pointer;

        .name {
          left: 15px;
        }

        .index {
          color: rgba($white, 0.4);
        }
      }

    .index {
      font-size: 60px;
      color: rgba($white, 0.1);
      transition: 0.25s;
    }

    .name{
      position: relative;
			left: -20px;
      font-size: 24px;
      transition: 0.25s;
    }
  }
}