@import './app/styles/all.variables.scss';

html, body {
    font-family: 'Corporate S', Arial, Helvetica, sans-serif;
    margin: 0;
  
    height: 100%;
    width: 100%;
  
    background-color: $background-grey; 
    color: $white;
  }